#image-cont {
    display: flex;
    margin: 60px;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}

#image-cont img {
    width: 90%;
    margin: 0 30px;
}

.move-button {
    font-size: 30px;
    cursor: pointer;
}

#img-zvuk {
    width: 80%;
    margin-top: 50px;
}