* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Retro";
    src: url("./assets/Retro\ Gaming.ttf");
}

:root {
    --cerna: rgb(27, 27, 27);
}

body {
    background-color: var(--cerna);
    color: white;
    font-family: "Retro";
}

header {
    margin-top: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

header a {
    text-decoration: none;
    color: var(--cerna);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    width: 300px;
    min-width: 300px;
    transition: .2s;
}

header a:hover {
    background-color: rgb(180, 180, 180);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    line-height: 2em;
}

main>h1,
main>h2,
main>h3,
main>h4,
main>h5,
main>h6 {
    text-decoration: underline;
    margin-bottom: 1rem;
    margin-top: 1.4rem;
}

main li {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
}

ul ul {
    margin-left: 30px;
}

.button {
    height: 50px;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(90, 90, 90);
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 20px;
    padding: 3px 20px;
    transition: .2s;
}

.button:hover{
    background-color: rgb(122, 122, 122);
}